@tailwind base;
@tailwind components;
@tailwind utilities;
/*


border-radius: 30px; */
body{
  background-color: #fff;
  font-family: inter;
}


.header__background{
  background:#c2bbeb4b;
}

@layer components{
  .header__background{
    @apply h-[40vh]
  }
  /* .project__button{
    @apply mt-4 mr-3 px-5 py-2 font-bold border-secondary text-secondary border-2  transition duration-150 ease-in shadow-lg shadow-secondary hover:shadow-none
  } */
.tech__button{
  @apply mt-5 mr-5 px-5 py-2 font-bold rounded-md bg-[#c2bbeb4b] text-lightBlue cursor-pointer shadow-md
}
.skill__container{
  @apply   shadow-xl border-2
}
}
